# ============================================================
# Application
# ============================================================

APP_NAME=auth-service
SERVER_PORT=8080


# ============================================================
# Active Spring Profile
# ============================================================

SPRING_PROFILES_ACTIVE=local


# ============================================================
# MySQL
# ============================================================

DB_HOST=localhost
DB_PORT=3306
DB_NAME=auth_service
DB_USERNAME=auth_user
DB_PASSWORD=change_me


# ============================================================
# MySQL JDBC
# ============================================================

DB_URL=jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true


# ============================================================
# Redis
# ============================================================

REDIS_HOST=localhost
REDIS_PORT=6379


# ============================================================
# Kafka
# ============================================================

KAFKA_BOOTSTRAP_SERVERS=localhost:9092